<!DOCTYPE html>
<html>


<head>

<title>A1 Community</title>
<link rel="icon" href="assets/audiLogo.png" type="image/x-icon">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="Shivam Missar">
<link rel="stylesheet" href="styles.css/general.css">

<link rel="stylesheet" href="styles.css/individualCommunties.css">
<link rel="stylesheet" href="styles.css/smallLaptops.css">
<link rel="stylesheet" href="styles.css/tablet.css">
<script src="sites.js/A1.js"></script>



</head>



<body>

    <header>
        <nav>
            <ul>
                <li><a href="/"><img id="logo" src="assets/audilogowhite.png" alt="This is the audi logo which shows 4 rings"></a></li>
                <li><a href="/communities">Find a community</a></li>
                <li><a href="#">Page 3</a></li>
                <div class="loginSignUp">
                    <li id="loginLink"><a href="/login">Login</a></li>
                    <li id="registerLink"><a href="/register">Register</a></li>
                    <li id="manageAccountLink" style="display: none;"><a href="/manage-account">Manage Account</a></li>
                    <li id="signOutLink" style="display: none;"><a href="/signout">Sign Out</a></li>
                </div>
            </ul>
        </nav>
        
    </header>

<section class="Introduction">
    <!-- https://www.audi-mediacenter.com/en/audi-a1-sportback-8 -->
<img src="assets/a1hero.jpg">
<h1><span class="changeTextColour">Audi Community/</span> A1 community</h1>
</section>




<section class="Discussions">
    <h2 class="changeTextColour">User Posts</h2>
    <button id="addPost" onclick="getForm()" class="disccusionButton">Start a discussion</button>
    <div class="disccusionForm" id="disccusionForm">
        <h4>Your Post</h1>
            <form method="post" action="/A1/A1discussions">
                <label for="Title">Topic Of discussion</label>
                <input type="text" name="Title" id="title" placeholder="Enter your title of disccusion here">
                <label for="description">What is your question</label>
                <input type="text" name="description" placeholder="Enter your question here">
                <input type="hidden" name="modelType" id="modelType">
                <button type="submit">Start disccusion</button>
            </form>
    </div>
</section>

<div id="discussionContainer" class="showPosts">
       
    <div id="discussions" class="showDiscussions"></div>
</div>

<footer>
    <div class="bottom-footer">
        <nav>
            <ul>
                <li><a href="/index"><img id="logo" src="assets/audilogowhite.png" alt="This is the audi logo which shows 4 rings"></a></li>
                <li><a href="/communities">Find a community</a></li>
               
            </ul>
        </nav>
        <div class="back2top">
            <a href="#top">Back to the top</a>
        </div>
    </div>
    <p class="trademark">2024 Audi Forum Website &#174;</p>
</footer>

<script>
    
</script>

<script src="sites.js/communities.js"></script>
<script>
    document.getElementById('modelType').value = getUrl();
</script>
<script src="sites.js/header.js"></script>
</body>
</html>