<!DOCTYPE html>
<html>


<head>

<title>A7 Community</title>
<link rel="icon" href= assets/audiLogo.png" type="image/x-icon">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta name="author" content="Shivam Missar">
<link rel="stylesheet" href="styles.css/general.css">
<link rel="stylesheet" href="styles.css/individualCommunties.css">
<link rel="stylesheet" href="styles.css/media.css">


</head>



<body>

    <header>

        <nav>
            <ul>
                <!-- Logo taken from: https://brandslogos.com/cars/audi-logo-4/  -->
                <li><a href="/"><img id="logo" src="assets/audilogowhite.png" alt="This is the audi logo which shows 4 rings"></a></li> 
                <li><a href="/communities">Find a community</a></li>
                <li><a href="#">Page 3</a></li>
                

                <div class="loginSignUp">
                    <li id="loginLink"><a href="/login">Login</a></li>
                    <li id="registerLink"><a href="/register">Register</a></li>
                    <li id="manageAccountLink" style="display: none;"><a href="/manage-account">Manage Account</a></li>
                    <li id="signOutLink" style="display: none;"><a href="/logout">Sign Out</a></li>
                </div>
            </ul>
        </nav>

        <div class="popularTags">
            <h2>Tags will go here</h2>
        </div>
    </header>

<section class="Introduction">
    <!-- https://www.audi-mediacenter.com/en/audi-rs-7-sportback-49-->
<img src="assets/a7hero.jpg">
<h1><span class="changeTextColour">Audi</span> A7 community</h1>
</section>


<section class="Discussions">

    <h2 class="changeTextColour">Discussions</h2>



</section>
<footer>
    <div class="bottom-footer">
        <nav>
            <!-- Bottom navigation for ease -->
            <ul>
                <!-- Logo taken from: https://brandslogos.com/cars/audi-logo-4/  -->
                <li><a href="/index"><img id="logo" src="assets/audilogowhite.png" alt="This is the audi logo which shows 4 rings"></a></li> 
                <li><a href="/communities">Find a community</a></li>
                <li><a href="#">Page 3</a></li>
            </ul>
        </nav>
    
        <div class="back2top">
            <a href="#top">Back to the top</a>
        </div>
    </div>

    <p class="trademark">2024 Audi Forum Website &#174;</p>
</footer>
</body>



</html>