<!DOCTYPE html>
<html>
    <title>AdminCorner</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="author" content="Shivam Missar">
    <link rel="icon" href="assets/audiLogo.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="styles.css/general.css">
    <link rel="stylesheet" href="styles.css/index.css">
    <link rel="stylesheet" href="styles.css/admin.css">

    
    
    <link rel="stylesheet" href="styles.css/tablet.css">
    <link rel="stylesheet" href="styles.css/smallLaptops.css">
    <link rel="stylesheet" href="styles.css/largelaptops.css">
  

  
    <!-- USED for icons -->
    <script src="https://kit.fontawesome.com/f991cdd751.js" crossorigin="anonymous"></script>
   
    <script src="sites.js/header.js" defer></script>
    <script src="sites.js/admin.js" defer ></script>



<body>



    <header id="top">
        <nav>
            <ul>
                <!-- Logo taken from: https://brandslogos.com/cars/audi-logo-4/  -->
                <li><a href="/"><img id="logo" src="assets/audilogowhite.png" alt="This is the audi logo which shows 4 rings"></a></li> 
                <li><a id="communityLink" href="/communities">Find a community</a></li>
                <li><a id="adminLink" href="/admin" class="active">Admin</a></li>
                

                <div class="loginSignUp">
                    <li id="loginLink"><a href="/login">Login</a></li>
                    <li id="registerLink"><a href="/register">Register</a></li>
                    <li id="manageAccountLink" style="display: none;"><a href="/manage-account">Manage Account</a></li>
                    <li id="signOutLink" style="display: none;"><a href="/signout">Sign Out</a></li>
                </div>
            </ul>
        </nav>
    </header>
    <h1 class="titleAdmin">User Management</h1>
    <div id="userList"></div>
</body>
</html>