<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta charset="author" content="Shivam Missar">



    <link rel="stylesheet" href="styles.css/account.css">
    <link rel="icon" href="assets/audiLogo.png" type="image/x-icon">
    <link rel="stylesheet" href="styles.css/general.css">
    <link rel="stylesheet" href="styles.css/media.css">

</head>



<body>

    <header>

        < <nav>
            <ul>
                <!-- Logo taken from: https://brandslogos.com/cars/audi-logo-4/  -->
                <li><a href="/"><img id="logo" src="assets/audilogowhite.png" alt="This is the audi logo which shows 4 rings"></a></li> 
                <li><a href="/communities">Find a community</a></li>
                <li><a href="#">Page 3</a></li>
                

                <div class="loginSignUp">
                        <li><a href="/login">Login</a></li>
                        <li><a href="/register">Register</a></li>
                        <div id="manageAccount" style="display: none;">
                            <li><a href="/Views/manage-account.html">Manage Account</a></li>
                        </div>
                </div>
            </ul>
        </nav>

        <div class="popularTags">
            <h2>Tags will go here</h2>
        </div>
    </header>


<div class="loginForm">
    <h1>Login</h1>
    <h3>Enter your login details below</h3>
    <form method="POST" action="/login">
        <div class="form-group">
            <label for="Username">Email</label>
            <input type="text" id="username" name="Username" required placeholder="Enter your username">
        </div>
       
        <div class="form-group">
            <label for="Password">Password</label>
            <input type="password" id="password" name="Password" required placeholder="Enter your password">
        </div>

        <button class="SubmitLogin" id="submitLoginCredientals">Submit</button>

    </form>



</div>
  
</body>

</html>