<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta charset="author" content="Shivam Missar">



    <link rel="stylesheet" href="styles.css/account.css">
    <link rel="icon" href="assets/audiLogo.png" type="image/x-icon">
    <link rel="stylesheet" href="styles.css/general.css">
    <link rel="stylesheet" href="styles.css/account.css">
    <link rel="stylesheet" href="styles.css/smallLaptops.css">
    <link rel="stylesheet" href="styles.css/tablet.css">
    <script src="sites.js/header.js" defer></script>
</head>



<body>

    <header>

        <nav>
            <ul>
                <!-- Logo taken from: https://brandslogos.com/cars/audi-logo-4/  -->
                <li><a href="/"><img id="logo" src="assets/audilogowhite.png" alt="This is the audi logo which shows 4 rings"></a></li> 
              

                

                <div class="loginSignUp">
                    <li id="loginLink"><a href="/login">Login</a></li>
                    <li id="registerLink"><a href="/register">Register</a></li>

                
                </div>
            </ul>
        </nav>

    </header>


<div class="loginForm">
    <h1>Login</h1>
    <h3>Enter your login details below</h3>
    <form method="post" action="/login">
        <div class="form-group">
            <label for="Username">Username</label>
            <input type="text" id="username" name="Username" required placeholder="John Doe">
            <span class="error" id="errormessage-username"></span>
        </div>
       
        <div class="form-group">
            <label for="Password">Password</label>
            <input type="password" id="password" name="LoginPassword" required placeholder="**********">
            <span class="error" id="errormessage-password"></span>
        </div>

        <button class="SubmitLogin" id="submitLoginCredientals">Submit</button>
    </form>


    


</div>
<script src="sites.js/login.js"></script> 

</body>

</html>