<!DOCTYPE html>
<html>

<head>
    <title>Manage Your Account</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="author" content="Shivam Missar">
    <link rel="icon" href="assets/audiLogo.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="styles.css/general.css">
    <link rel="stylesheet" href="styles.css/manageAccount.css">
    <link rel="stylesheet" href="styles.css/smallLaptops.css">
    <link rel="stylesheet" href="styles.css/tablet.css">
    <link rel="stylesheet" href="styles.css/largelaptops.css">

      
    <script src="sites.js/header.js"></script> 
   

</head>


<body>
    <header id="top">
        <nav>
            <ul>
                <!-- Logo taken from: https://brandslogos.com/cars/audi-logo-4/  -->
                <li><a href="/"><img id="logo" src="assets/audilogowhite.png" alt="This is the audi logo which shows 4 rings"></a></li> 
                <li><a id="communityLink" href="/communities">Find a community</a></li>
            
                

                <div class="loginSignUp">
                    <li id="loginLink"><a href="/login">Login</a></li>
                    <li id="registerLink"><a href="/register">Register</a></li>
                    <li id="manageAccountLink" style="display: none;" class="active"><a href="/manage-account">Manage Account</a></li>
                    <li id="signOutLink" style="display: none;"><a href="/signout">Sign Out</a></li>
                </div>
            </ul>
        </nav>
    </header>
    


    <div class="update-container">
        <h1>Manage your account</h1>
        <form method="post" action="/manage-account/update-email">
            <label for="newemail">New Email</label>
            <input type="email" name="newemail" id="newemail" placeholder="Enter your new email here">
    
            <button class="SubmitRegister" id="">Submit</button>
        </form>
    
    
        <form method="post" action="/manage-account/update-password">
            <label for="newPassword">New Password</label>
            <input type="password" name="newPassword" id="newPassword" placeholder="Enter your new password here">
            <button class="SubmitRegister" id="">Submit</button>
        </form>
    
    
        <form method="post" action="/manage-account/update-username">
            <label for="newUsername">New Username</label>
            <input type="text" name="newUsername" id="newUsername"placeholder="Enter your new username here">
    
            <button class="SubmitRegister" id="">Submit</button>
        </form>
    </div>


   
    





</body>
</html>

