<!DOCTYPE html>
<html lang="en">

<head>
    <title>Register</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">






    <link rel="stylesheet" href="styles.css/general.css"/>
    <link rel="icon" href="assets/audiLogo.png" type="image/x-icon">
    <link rel="stylesheet" href="styles.css/account.css">
    <link rel="stylesheet" href="styles.css/smallLaptops.css">
  

    
</head>



<body>

    <header>

        <nav>
            <ul>
                <!-- Logo taken from: https://brandslogos.com/cars/audi-logo-4/  -->
                <li><a href="/"><img id="logo" src="assets/audilogowhite.png" alt="This is the audi logo which shows 4 rings"></a></li> 
                <li><a href="/communities">Find a community</a></li>
                <li><a href="#">Page 3</a></li>
                

                <div class="loginSignUp">
                    <li id="loginLink"><a href="/login">Login</a></li>
                    <li id="registerLink"><a href="/register">Register</a></li>
                    <li id="manageAccountLink" style="display: none;"><a href="/manage-account">Manage Account</a></li>
                    <li id="signOutLink" style="display: none;"><a href="/logout">Sign Out</a></li>
                </div>
            </ul>
        </nav>

        <div class="popularTags">
            <h2>Tags will go here</h2>
        </div>
    </header>


<div class="registerForm">
    <h1>Register</h1>
    <h3>Fill out the form below to create an account</h3>
    <form method="post" action="/register">
        <div class="form-group">
            <label for="Username">Username</label>
            <input type="text" id="fullname" name="Username" required placeholder="Audifan123" autofocus autocomplete="on">
            <span id="username_invalid"></span>
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" id="email" name="Email" required placeholder="name@domain.com" autocomplete="on">
            <span id="email_invalid"></span>
        </div>
       
        <div class="form-group">
            <label for="regpassword">Password</label>
            <input type="password" id="regpassword" name="Password" required placeholder="********">
            <span id="password_not_secure"></span>
            
        </div>

        <div class="form-group">
            <label for="regpassword">Confirm Password</label>
            <input type="password" id="regpasswordconfirm"name="PasswordConfirm" required placeholder="********">
            <span id="password_confirmed"></span>
        </div>

        <button class="SubmitRegister" id="submitRegCredientals">Submit</button>

    </form>

    <script src="sites.js/register.js"></script>
</div>
</body>

</html>