.comunity-containter
{
    width: 100% ;
    height: 400px;
    margin-bottom: 190px;
    background-color: white;
   
}

.comunity-containter h2 
{
    text-align: center;
    font-weight: 100;
    font-family: sans-serif;
    border: 2px solid black;
    width: 30%;
    padding: 10px;
}

.comunity-containter h2 a:hover
{
    border-bottom: 2px solid red;
}

.A4 h2
{
    position: relative;
    top: 100px;
    left: 1080px;
}

.A6 h2
{
    position: relative;
    top: 350px;
    left: 1080px;
}

.comunity-containter a
{
    color: black;
    
}

.A6 img
{
    width: 50%;
    height: 560px;
    position: relative;
    top: 0px;
    border-bottom: 10px;
    border-radius:10px ;
    
 
}

.A4 img
{
    width: 50%;
  
    position: relative;
    top: -10px;
    border-radius:10px ;
    
 
}

.A7 img
{
    width: 50%;
  
    position: relative;
    top: 0px;
    border-radius:10px ;
}
.A3 img
{
    width: 50%;
    position: relative;
    top: 0px;
    border-radius:10px ;
}
.A1 img
{
    width: 50%;
    position: relative;
    top: 0px;
    
    border-radius:10px ;

}
.A1 h2
{
    position: relative;
    top: 100px;
    left: 1080px;
}

.A3 h2
{
    position: relative;
    top: 100px;
    left: 1080px;
}
.A5 h2
{
    position: relative;
    top: 100px;
    left: 1080px;
}

.A8 h2
{
    position: relative;
    top: 100px;
    left: 1080px;
}

.A7 h2
{
    position: relative;
    top: 100px;
    left: 1080px;
}

.A5 img
{
    width: 50%;
    position: relative;
    top: 0px;
    border-radius:10px ;

}

.Q8 h2
{
    position: relative;
    top: 100px;
    left: 1080px;
}
.Q3 h2
{
    position: relative;
    top: 100px;
    left: 1080px;
}
.Q5 h2
{
    position: relative;
    top: 100px;
    left: 1080px;
}
.Q7 h2
{
    position: relative;
    top: 100px;
    left: 1080px;
}
.A8 img
{
    width: 50%;
    position: relative;
    top: 0px;
    border-radius:10px ;
}


.Q3 img
{
    width: 50%;
    position: relative;
    top: 0px;
    border-radius:10px ;

}

.Q5 img
{
    width: 50%;
    position: relative;
    top: 0px;
    border-radius:10px ;

}


.Q7 img
{
    width: 50%;
    position: relative;
    top: 0px;
    border-radius:10px ;

}

.Q8 img
{
    width: 50%;
    position: relative;
    top: 0px;
    border-radius:10px ;

}

.SelectCommunity h1
{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
}
