.Introduction img
{
    width: 100%;
}


.Introduction h1
{
    position: relative;
    top: -850px;
    float: left;
    left: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    font-weight: lighter;
    background-color: white;
    padding: 10px;
    border: 3px solid black;
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));
   
    backdrop-filter: blur(10px);

}

.Discussions h2
{
    position: relative;
    left: 260px;
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
}




.disccusionButton
{
    border: 3px solid black;
    background: white;
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
    width: 400px;
    position: relative;
    left: 700px;
    top: -60px;
    display: none;

}
.disccusionButton:hover
{
    border: 3px solid red;
}

.Discussions h2
{
   font-weight: 200;
   font-size: 42px;
}

.disccusionForm
{
    background-color: #666;
    padding: 10px;
    height: 400px;
    display:none;
}

.disccusionForm form
{
    position: relative;
    left: 580px;

}

.disccusionForm h4
{
    color: white;
    font-size: 30px;
    text-align: center;
    font-family: sans-serif;
}

.disccusionForm form input 
{
    width: 600px;
    text-align: center;
    padding: 8px;
    border:none;
    border-radius: 4px;
    height: 25px;
}

.disccusionForm form label
{
    display: block;
    color: white;
    font-family: sans-serif;
}
.disccusionForm form button
{
    display: block;
    cursor: pointer;
    border: none;
    padding: 10px;
    font-size: 17px;
    width: 600px;
    margin-top: 100px;
}
.showPosts 
{
    background-color: black;
    color: white;
    padding: 10px;
}

.showPosts h2
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 30px;
}
.discussion-topic
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}
.discussion-description
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}

.discussion-username
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
}


.discussion-reply
{
    border: none;
    padding: 10px;
    background-color: #666;
    color: white;
    cursor: pointer;
}
.discussion-delete
{
    border: none;
    padding: 10px;
    background-color: red;
    color: white;
    cursor: pointer;
}



