.Introduction img
{
    width: 100%;
}


.Introduction h1
{
    position: relative;
    top: -850px;
    float: left;
    left: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    font-weight: lighter;
    background-color: white;
    padding: 10px;
    border: 3px solid black;
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));
   
    backdrop-filter: blur(10px);

}

.Discussions h2
{
    position: relative;
    left: 260px;
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
}




.disccusionButton
{
    border: 3px solid black;
    background: white;
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
    width: 400px;
    position: relative;
    left: 700px;
    top: -60px;
    display: none;

}
.disccusionButton:hover
{
    border: 3px solid red;
}

.Discussions h2
{
   font-weight: 200;
   font-size: 42px;
}

.disccusionForm
{
    background-color: #666;
    padding: 10px;
    height: 400px;
    display:none;
}

.Discussions .disccusionForm form
{
    position: relative;
    left: 430px;

}

.disccusionForm h4
{
    color: white;
    font-size: 30px;
    text-align: center;
    font-family: sans-serif;
}

.Discussions .disccusionForm form input 
{
    width: 800px;
    text-align: center;
    padding: 8px;
    font-size: 18px;
    border:none;
    border-radius: 4px;
    height: 25px;
}

.disccusionForm form label
{
    display: block;
    color: white;
    font-family: sans-serif;
}
.Discussions .disccusionForm form button
{
    display: block;
    cursor: pointer;
    border: none;
    padding: 14px;
    font-size: 17px;
    width: 800px;
    margin-top: 100px;
}
.disccusionForm form button:hover
{
    background-color: darkgray;
    color: white;
}
.showPosts 
{
    background-color: black;
    color: white;
    padding: 10px;
}

.Posts
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    left: 295px;
    font-size: 30px;
}
.showDiscussions h3
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-size: 30px;
    text-align: center;
}
.showDiscussions .discussion-description
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    font-weight: 200;
}

.discussion-username
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    margin-top: -20px;
}

.changeColour{color: red;}
.discussion-reply
{
    border: none;
    padding: 10px;
    background-color: #666;
    color: white;
   
    cursor: pointer;
    display: none;
}
.deleteDiscussionForm button
{
    border: none;
    padding: 10px;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 10px;
    font-size: 15px;
    width: 200px;
    margin: 1px;
 
}
.deleteDiscussionForm button:hover
{
    background-color: darkred;
}
.deleteDiscussionForm input
{
    color: black;
} 


.replyToPost h2
{
    font-size: 20px;
    margin-left: 200px;
}

.replyToPost form textarea
{
    resize: none;
    border: none;
    border-radius: 10px;
    width: 500px;
    padding: 10px;
    height: 100px;
  
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
 
}


.replyToPost form button
{
   
    display: inline;
    padding: 10px;
    display: block;
    color: black;
    cursor: pointer;
    width: 200px;
    margin: 1px;
   border: 2px solid white ;
   background-color: black;
   color: white;
   
}

.replyToPost form button:hover
{
    border: 3px solid red;
    color: white;
}

.reply-username
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.reply-message
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

