@media only screen and (max-width:768px)
{
    /* ---------------------------------- GENERAL ---------------------------------- */  
    body
    {
        overflow-x: hidden;
    }
        header
        {
            background-color: black;
            width: 200%;
        }
        .loginSignUp
        {
            border: 2px solid white;
            width: 200px;
            display: inline-block;
            text-align: center;
            padding: 5px;
            font-size: 10px;
            position: relative;
            left: 150px;
        }
        /* ---------------------------------- INDEX ---------------------------------- */
        .intro h3
        {
            position: relative;
            top: -400px;
            font-size: 35px;
            text-align: center;
            color: white;
            font-family: sans-serif;
            font-weight: 100;
        }
    .community
    {
        height: 100px;
        width: 100%;
        position: relative;
        top: 650px;
        
        text-align: center;
    }
    .community h2
    {
        margin-bottom: 50px;
        font-family: sans-serif;
        font-weight: 100;
        font-size: 34px;
    }
    .community img
    {
    width: 14%;
    position: relative;
    top: -24px;
    right: 20px;
    }
    .community a
    {
        color: black;
        border: 3px solid black;
        padding: 10px;
        font-size: 22px;
        text-decoration: none;
        font-family: sans-serif;
        position: relative;
        top: -68px;
    }

    .text {
        color: white;
        font-size: 18px;
        position: absolute;
        bottom: 0;
        width: 94.2%;
        padding: 22px;
        background-color: rgba(0, 0, 0, 0.5);
    }


    .popularTags
    {
    display: none;
    }

    .back2top{
        border: 2px solid white;
        width: 200px;
        
        display: inline-block;
        text-align: center;
        padding: 10px;
        position: relative;
        top: -70px;
        left: 65%;
    }

    /* ---------------------------------- COMMUNTIES ---------------------------------- */
    .SelectCommunity  .comunity-containter
    {
        width: 100%;
        height: 800px;
        margin-bottom: 190px;
        
    
    }

    .SelectCommunity .comunity-containter h2 
    {
        text-align: center;
        font-weight: 100;
        font-family: sans-serif;
        border: 2px solid black;
        width: 30%;
        padding: 10px;
    }



    .SelectCommunity .A4 h2
    {
        position: relative;
        top: 450px;
        left: 0px;
        background-color: white;
        z-index: 1;
    }

    .SelectCommunity .A6 h2
    {
        position: relative;
        top: 450px;
        left: 0px;
        background-color: white;
        z-index: 1;
    }

    .comunity-containter a
    {
        color: black;
        
    }

    .SelectCommunity .A6 img
    {
        width: 100%;
        height: 450px;
        z-index: 0;
        position: relative;
        top: 0px;
        
        
    
    }

    .SelectCommunity .A4 img
    {
        width: 100%;
        
        position: relative;
        top: -20px;
        border-radius:10px;
    }

    .SelectCommunity .A7 img
    {
        width: 100%;
        height: 450px;
        z-index: 0;
        position: relative;
        top: 0px;
    }
   .SelectCommunity .A3 img
    {
        width: 100%;
        height: 450px;
        z-index: 0;
        position: relative;
        top: 0px;
    }
    .SelectCommunity .A3 h2
    {
        position: relative;
        top: 450px;
        left: 0px;
        background-color: white;
        z-index: 1;
    }
    .SelectCommunity .A1 img
    {
        width: 100%;
        height: 450px;
        z-index: 0;
        position: relative;
        top: 0px;

    }
    .SelectCommunity .A1 h2
    {
        position: relative;
        top: 450px;
        left: 0px;
        background-color: white;
        z-index: 1;
    }
    .SelectCommunity .A5 img
    {
        width: 100%;
        height: 450px;
        z-index: 0;
        position: relative;
        top: 0px;

    }

    .SelectCommunity .A5 h2
    {
        position: relative;
        top: 450px;
        left: 0px;
        background-color: white;
        z-index: 1;
    }

    .SelectCommunity .A8 h2
    {
        position: relative;
        top: 450px;
        left: 0px;
        background-color: white;
        z-index: 1;
    }

    .SelectCommunity .A7 h2
    {
        position: relative;
        top: 450px;
        left: 0px;
        background-color: white;
        z-index: 1;
    }



    .SelectCommunity .Q8 h2
    {
        position: relative;
        top: 450px;
        left: 0px;
        background-color: white;
        z-index: 1;
    }
    .SelectCommunity .Q3 h2
    {
        position: relative;
        top: 450px;
        left: 0px;
        background-color: white;
        z-index: 1;
    }
    .SelectCommunity .Q5 h2
    {
        position: relative;
        top: 450px;
        left: 0px;
        background-color: white;
        z-index: 1;
    }
    .SelectCommunity .Q7 h2
    {
        position: relative;
        top: 450px;
        left: 0px;
        background-color: white;
        z-index: 1;
    }
    .SelectCommunity .A8 img
    {
        width: 100%;
        height: 450px;
        z-index: 0;
        position: relative;
        top: 0px;
    }


    .SelectCommunity .Q3 img
    {
        width: 100%;
        height: 450px;
        z-index: 0;
        position: relative;
        top: 0px;;

    }

    .SelectCommunity .Q5 img
    {
        width: 100%;
        height: 450px;
        z-index: 0;
        position: relative;
        top: 0px;

    }


    .SelectCommunity .Q7 img
    {
        width: 100%;
        height: 450px;
        z-index: 0;
        position: relative;
        top: 0px;

    }

    .SelectCommunity .Q8 img
    {
        width: 100%;
        height: 450px;
        z-index: 0;
        position: relative;
        top: 0px;

    }
    /* ---------------------------------- INDIVIDUAL COMMUNTIES ---------------------------------- */
    .Introduction img
    {
        width: 100%;
    }


    .Introduction h1
    {
        position: relative;
        top: -440px;
        float: left;
        left: 4px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 30px;
        font-weight: lighter;
        background-color: white;
        padding: 10px;
        border: 3px solid black;
        background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));
    
        backdrop-filter: blur(10px);

    }

    .disccusionButton
    {
        
        font-size: 15px;
        padding: 10px;
        width: 200px;
        position: relative;
        left: 250px;
        top: -60px;
        display: none;
    }
    .Discussions h2
    {
        position: relative;
        left: 60px;
        font-size: 30px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 300;
    }
    .disccusionForm form
    {
        position: relative;
        left: 80px;
    }

    .discussion-reply
    {
        border: none;
        width: 100px;
        padding: 12px;
        background-color: #666;
    }
    .deleteDiscussionForm button
    {
        border: none;
        width: 100px;
        padding: 10px;
    }

    /* ---------------------------------- LOGIN and REGISTER ---------------------------------- */
    .loginForm
    {
        width: 80%;
        position: relative;
        left: 20px;
        top: 50px;
    }

    .loginForm form .SubmitLogin
    {
        margin-left: 100px;
    }

    .registerForm
    {
        width: 80%;
        position: relative;
        left: 20px;
        top: 50px;
    }

    .registerForm form .SubmitRegister
    {
        margin-left: 100px;
    }
}

/* BIG LAPTOP SCREENS */
@media only screen and (min-width: 769px) and (max-width: 1024px)
{

        header
        {
            background-color: black;
            width: 200%;
            overflow-x: hidden;
        }
        .loginSignUp
        {
            border: 2px solid white;
            width: 200px;
            display: inline-block;
            text-align: center;
            padding: 5px;
            font-size: 10px;
            position: relative;
            left: 650px;
        }
        /* ---------------------------------- INDEX ---------------------------------- */
        .intro h3
        {
            position: relative;
            top: -800px;
            font-size: 35px;
            text-align: center;
            color: white;
            font-family: sans-serif;
            font-weight: 100;
        }
        .intro img 
        {
            width: 140%;
        }
    .community
    {
        height: 100px;
        width: 100%;
        position: relative;
        top: 980px;
        left: 150px;
        text-align: center;
    }
    .community h2
    {
        margin-bottom: 50px;
        font-family: sans-serif;
        font-weight: 100;
        font-size: 34px;
    }
    .community img
    {
        width: 14%;
        position: relative;
        top: -4px;
        right: 20px;
    }
    .community a
    {
        color: black;
        border: 3px solid black;
        padding: 10px;
        font-size: 22px;
        text-decoration: none;
        font-family: sans-serif;
        position: relative;
        top: -68px;
    }

    .text {
        color: white;
        font-size: 18px;
        position: absolute;
        bottom: 0;
        width: 120%;
        padding: 22px;
        background-color: rgba(0, 0, 0, 0.5);
    }

        .newsSlide-container h3
        {
            text-align: center;
            font-family: sans-serif;
            font-size: 36px;
            margin-left: 30%;
            font-weight: 100;
        }

    header .popularTags a
    {
        font-size:14px;
      
  
    }

    .newsSlide-container
    {
        position: relative;
        top: 200px;
       
        
    
    }
    .slide img
    {
      width: 150%;
      
      height: auto;
    }

    .back2top{
        border: 2px solid white;
        width: 200px;
        display: inline-block;
        text-align: center;
        padding: 10px;
        position: relative;
        top: -70px;
        left: 65%;
    }

    .bottom-footer
    {
        background-color: black;
        position: relative;
        top: 300px;
        height: 200px;
        margin-bottom: 10px;
        width: 150%;
    }

    .SelectCommunity  .comunity-containter
    {
        width: 100%;
        height: 800px;
        margin-bottom: 190px;
        
    
    }

    .SelectCommunity .comunity-containter h2 
    {
        text-align: center;
        font-weight: 100;
        font-family: sans-serif;
        border: 2px solid black;
        width: 30%;
        padding: 10px;
    }



    .SelectCommunity .A4 h2
    {
        position: relative;
        top: 450px;
        left: 0px;
        background-color: white;
        z-index: 1;
    }

    .SelectCommunity .A6 h2
    {
        position: relative;
        top: 450px;
        left: 0px;
        background-color: white;
        z-index: 1;
    }

    .comunity-containter a
    {
        color: black;
        
    }

    .SelectCommunity .A6 img
    {
        width:95%;
        height: 650px;
        z-index: 0;
        position: relative;
        top: -200px;
        left: 20px;
        
        
    
    }

    .SelectCommunity .A4 img
    {
        width: 95%;
        position: relative;
        top: -20px;
        left: 20px;
        border-radius:10px;
    }

    .SelectCommunity .A7 img
    {
        width: 95%;
        z-index: 0;
        position: relative;
        top: -400px;
        left: 20px;
    }
   .SelectCommunity .A3 img
    {
        width: 95%;
       
        z-index: 0;
        position: relative;
        top: -600px;
        left: 20px;
    }
    .SelectCommunity .A3 h2
    {
        position: relative;
        top: -10px;
        left: 40px;
        background-color: white;
        z-index: 1;
    }
    .SelectCommunity .A1 img
    {
        width: 95%;
        left: 20px;
        z-index: 0;
        position: relative;
        top: -800px;

    }
    .SelectCommunity .A1 h2
    {
        position: relative;
        top: -180px;
        left: 40px;
        background-color: white;
        z-index: 1;
    }
    .SelectCommunity .A5 img
    {
        width: 95%;
       
        z-index: 0;
        position: relative;
        top: -1000px;
        left: 20px;

    }

    .SelectCommunity .A5 h2
    {
        position: relative;
        top: -380px;
        left: 40px;
        background-color: white;
        z-index: 1;
    }

    .SelectCommunity .A8 h2
    {
        position: relative;
        top: -580px;
        left: 40px;
        background-color: white;
        z-index: 1;
    }

    .SelectCommunity .A7 h2
    {
        position: relative;
        top: 190px;
        left:30px;
        background-color: white;
        z-index: 1;
    }


    .SelectCommunity .Q8 h2
    {
        position: relative;
        top: -1490px;
        left:30px;
        background-color: white;
        z-index: 1;
    }
    .SelectCommunity .Q3 h2
    {
        position: relative;
        top: -780px;
        left: 40px;
        background-color: white;
        z-index: 1;
    }
    .SelectCommunity .Q5 h2
    {
        position: relative;
        top: -980px;
        left: 40px;
        background-color: white;
        z-index: 1;
    }
    .SelectCommunity .Q7 h2
    {
        position: relative;
        top: -1180px;
        left: 40px;
        background-color: white;
        z-index: 1;
    }
    .SelectCommunity .A8 img
    {
        width: 95%;
       
        z-index: 0;
        position: relative;
        top: -1200px;
        left: 20px;
    }


    .SelectCommunity .Q3 img
    {
        width: 95%;
       
        z-index: 0;
        position: relative;
        top: -1400px;
        left: 20px;

    }

    .SelectCommunity .Q5 img
    {
        width: 95%;
       
        z-index: 0;
        position: relative;
        top: -1600px;
        left: 20px;

    }


    .SelectCommunity .Q7 img
    {
        width: 95%;
       
        z-index: 0;
        position: relative;
        top: -1800px;
        left: 20px;
    }

    .SelectCommunity .Q8 img
    {
        width: 95%;  
        z-index: 0;
        position: relative;
        top: -2000px;
        left: 20px;
       

    }

}






